.board {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(9, 1fr);
  gap: 1px;
  width: 540px;
  height: 540px;
  margin: 0 auto;
}

.square {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  width: 60px;
  height: 60px;
  cursor: pointer;
}

.self-piece {
  font-size: 20px;
}

.opponent-piece {
  font-size: 20px;
  transform: rotate(180deg); /* 相手の駒を上下さかさまに */
}

.highlighted {
  background-color: #ffff00;  /* 黄色でハイライト */
}

.board-container {
  display: flex;
  justify-content: space-between;
}

/* 持ち駒の表示スタイル */
.captured-pieces {
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  width: 150px;
  display: flex;
  flex-direction: column;
}

/* 持ち駒のタイトル */
.captured-pieces h3 {
  margin-bottom: 10px;
}

.captured-piece{
  font-size: 28px;
  margin: 10px
}